---
---

{% include header.html %}


<div class="container-fluid">
  <img class="img-fluid nav mob-no" src="../assets/img/1440x79-nav.jpg" srcset="../assets/img/1440x79-nav@2x.jpg 2x" />

  <div class="mobile-nav col-md-12 mob-yes d-flex align-items-center">
      <img class="logo" src="../assets/img/kapost-logo.svg" />
      <img class="burg" src="../assets/img/hamburger-icon.svg"
  </div>
</div>

<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h1>
          ControlUp for VMware
        </h1>
        <button>Request A Demo</button>
      </div>
      <div class="col-md-8">

      </div>
    </div>
  </div>
</section>
<section class="subnav">
<div class="container">
  <div class="row">
    <div class="col-md-2">
      <p>
        Citrix XenApp
      </p>
      <p>
        Citrix XenDesk
      </p>
      <p>
        <b>VMware Horizon</b>
      </p>
      <p>
        Microsoft RDS
      </p>
      <p>
        Virtual Servers
      </p>
      <p>
        Physical PC &amp; Servers
      </p>
    </div>
  </div>
</div>
</section>
<section class="main">
  <p>
    A primary goal of any Horizon View admin is to support a scalable virtual desktop platform without compromising end-user experience.
  </p>
  <p>
    By using ControlUp Horizon View admins can move from firefighting to actually managing, monitoring and proactively troubleshooting their VDI environment.
</p>
</section>
<section>
<div class="container">
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
<div class="row">
  <div class="col-md-12">
    <div class="carousel-indicators">
      <div class="col-md-2">
        <p data-target="#carouselExampleIndicators" data-slide-to="0" class="active">Storage Performance Troubleshooting</p>
      </div>
      <div class="col-md-2">
        <p data-target="#carouselExampleIndicators" data-slide-to="1">End-User Experience</p>
      </div>
      <div class="col-md-2">
        <p data-target="#carouselExampleIndicators" data-slide-to="2">View Management</p>
      </div>
      <div class="col-md-2">
        <p data-target="#carouselExampleIndicators" data-slide-to="3">End-User Support</p>
      </div>
      <div class="col-md-2">
        <p data-target="#carouselExampleIndicators" data-slide-to="4">Multi-Version Management</p>
      </div>
      <div class="col-md-2">
        <p data-target="#carouselExampleIndicators" data-slide-to="5">Historical Reporting</p>
      </div>
    </div>
  </div>
</div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="col-md-6">
        <h2>
          Troubleshooting Storage Performance Issues
        </h2>
        <p>High IOPS usage on multiple Horizon View desktops or high Datastore latency can affect the performance of the entire VDI environment and cause poor user experience. Solutions like linked clones or flash-based storage solutions help reduce IOPS related issues but VDI environments are still susceptible to storage performance issues.
        </p>
        <p>By using ControlUp’s actionable dashboard, Horizon View admins quickly spot storage performance issues across multiple layers, from the physical hosts and Datastores all the way to specific user sessions and processes. Root cause detection is a breeze as all performance metrics are correlated in real-time.
        </p>
      </div>
      <div class="col-md-6 text-center">
        <img class="img-fluid mx-auto" src="../assets/img/720x294-troubleshooting.png" srcset="../assets/img/720x294-troubleshooting@2x.png 2x" />
      </div>
    </div>
    <div class="carousel-item">
      <div class="col-md-6">
        <h2>
          End-User Experience Monitoring
        </h2>
        <p>If your end-users have enough time to make a cup of coffee while logging on or launching an app something is amiss in the virtual network. It is imperative that end-users have an excellent experience, therefore Horizon View admins must resolve logon issues quickly and efficiently.
        </p>
        <p>With ControlUp the Horizon View team sees, in real-time, break downs within the logon process including User Profile, Group Policy and Desktop Load times. When end-user experience metrics cross set thresholds, the Horizon View admin is alerted, by email or push notification, and can easily analyze the glitch.
        </p>
      </div>
      <div class="col-md-6 text-center">
        <img class="img-fluid mx-auto" src="../assets/img/720x295-end-user.png" srcset="../assets/img/720x295-end-user@2x.png 2x" />
      </div>
    </div>
    <div class="carousel-item">
      <div class="col-md-6">
        <h2>
          Simplify View Management
        </h2>
        <p>Both user and Horizon View admin time is valuable, therefore maintenance tasks need to be accomplished as quickly as possible. Sometimes, however, native management tools do not provide the functionality that the admin needs. For example, the Horizon View Admin GUI does not allow you to place multiple VMs in maintenance mode without disabling the entire pool.
        </p>
        <p>ControlUp’s <a href="https://www.controlup.com/edocs/controlup-online-documentation/controlup-console-reference/my-organization-pane/script-based-actions/">Script Based Actions</a> (SBAs) can help overcome native limitations in the View Admin site by using PowerCLI to target the exact machines that need to enter maintenance mode and then executing on that quickly in one management action instead of several.
        </p>
      </div>
      <div class="col-md-6 text-center">
        <img class="mx-auto" src="../assets/img/414x294-view-mgmt.png" srcset="../assets/img/414x294-view-mgmt@2x.png 2x" />
      </div>
    </div>
    <div class="carousel-item">
      <div class="col-md-6">
        <h2>
          Supporting End-Users
        </h2>
        <p>Horizon View admins are continuously interacting with end-users throughout the day. There is just no way around it. Whether troubleshooting an app issue inside a user session or logging users off of a specific desktop pool in order to refresh the pool, dealing with end-users cannot be avoided.
        </p>
        <p>ControlUp offers basic user actions like ‘Logoff’ and ‘Send Message’ but steps it up with a rich array of contextual management actions that enable proactive troubleshooting of end-user related issues. One such management action is the ‘Kill Policy,’ which temporarily removes Group Policy restrictions that lockdown the user desktop, which enables a quick way to change settings and run commands inside a restricted user session.
        </p>
      </div>
      <div class="col-md-6 text-center">
        <img class="mx-auto" src="../assets/img/647x294-support.png" srcset="../assets/img/647x294-support@2x.png 2x" />
      </div>
    </div>
    <div class="carousel-item">
      <div class="col-md-6">
        <h2>
        Managing Multiple Horizon View Versions
        </h2>
        <p>Still running legacy apps on older OS versions? Maybe in the middle of a long migration project? These are just a few reasons Horizon View admins need to support multiple versions in their production environments. Unfortunately built-in consoles do not support multiple Horizon View versions and therefore create a management nightmare.
        </p>
        <p>Supporting Horizon View 5.x and 6.x, ControlUp’s all-inclusive dashboard provides a unified view of every virtual machine and user session. All major troubleshooting and management features enable a streamlined experience regardless of the Horizon View version being monitored.
        </p>
      </div>
      <div class="col-md-6 text-center">
        <img class="img-fluid mx-auto" src="../assets/img/547x433-multi.png" srcset="../assets/img/547x433-multi@2x.png 2x" />
      </div>
    </div>
    <div class="carousel-item">
      <div class="col-md-6">
        <h2>
        Historical Reporting
        </h2>
        <p>When an end-user reports s/he had a performance issue “last Tuesday”, it’s the VMware admin’s job to figure out which Horizon View server was used at the time in order to start the troubleshooting process. Other reasons a VMware admin needs historical user session reports include usage trend analysis, license consumption, login tracking for security purposes and application usage analysis.
        </p>
        <p><a href="http://www.controlup.com/products/controlup-insights">ControlUp Insights</a> enables customers to save unlimited performance and usage data and offer a plethora of handy reports including user activity, user experience, application activity, resource consumption (hosts, servers, and even processes data) system health and licensing reports.
        </p>
      </div>
      <div class="col-md-6 text-center">
        <img class="img-fluid mx-auto" src="../assets/img/547x433-multi.png" srcset="../assets/img/547x433-multi@2x.png 2x" />
      </div>
    </div>
  </div>
</div>
</div>
</section>
<section class="customers">
  <div class="container">
  <div class="col-md-8 text-center mx-auto">
    <h3>ControlUp is Trusted By</h3>
  </div>
      <div class="col-md-10 mx-auto">
        <img class="img-fluid mx-auto" src="../assets/img/banner-logos.svg" />
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
<div class="col-lg-8">
<h2>Request a Demo Today</h2>
      <p>
        Sign up below to schedule a demo with one of our product experts, we’ll take it from there.
      </p>
      <p><button>Request A Demo</button></p>
    </div>
  </div>
  </div>
</section>






{% include footer.html %}
