---
---

{% include header.html %}

<div class="container-fluid">
  <img class="img-fluid nav mob-no" src="../assets/img/1440x165-nav.jpg" srcset="../assets/img/1440x165-nav@2x.jpg 2x" />


    <img class="img-fluid nav mob-yes" src="../assets/img/370x98-nav-mobile.jpg" srcset="../assets/img/370x98-nav-mobile@2x.jpg 2x" />

</div>

<section class="hero">
  <div class="container">

      <div class="col-lg-12 mx-auto text-center mb-5">
        <h1 class="display-3">
          ControlUp for VMware
        </h1>
        <button class="btn col-lg-3" data-toggle="modal" data-target="#form1">Request A Demo</button>
      </div>
      <div class="col-lg-9 mx-auto">
        <div id="carousel-video" class="carousel" data-ride="carousel" data-interval="false">
<ol class="carousel-indicators">
  <li data-target="#carousel-video" data-slide-to="0" class="active"></li>
  <li data-target="#carousel-video" data-slide-to="1"></li>
  <li data-target="#carousel-video" data-slide-to="2"></li>
</ol>
<div class="carousel-inner">
  <div class="carousel-item active text-center">
    <img onclick="video1()" class="img-fluid img-1" src="../assets/img/560x315-slide1.png" />
  </div>
  <div class="carousel-item text-center">
      <img onclick="video2()" class="img-fluid img-2" src="../assets/img/560x315-slide2.png" />
  </div>
  <div class="carousel-item text-center">
    <img onclick="video3()" class="img-fluid img-3" src="../assets/img/560x315-slide3.png" />
  </div>
</div>
<a class="carousel-control-prev close mob-no" href="#carousel-video" role="button" data-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next close mob-no" href="#carousel-video" role="button" data-slide="next">
  <span class="carousel-control-next-icon pause-video" aria-hidden="true"></span>
  <span  class="sr-only">Next</span>
</a>
</div>
      </div>

    </div>

</section>
<section class="subnav">
<div class="container">
  <div class="row">
    <div class="col-lg-2">
      <p><a href="https://www.controlup.com/solutions/citrix-xenapp/">
        Citrix XenApp</a>
      </p>
    </div>
      <div class="col-lg-2">
      <p><a href="https://www.controlup.com/solutions/citrix-xendesktop/">
        Citrix XenDesk</a>
      </p>
    </div>
      <div class="col-lg-2">
      <p class="p-bold">
        VMware Horizon
      </p>
    </div>
      <div class="col-lg-2">
      <p><a href="https://www.controlup.com/solutions/microsoft-rds/">
        Microsoft RDS</a>
      </p>
    </div>
      <div class="col-lg-2">
      <p><a href="https://www.controlup.com/solutions/virtual-servers/">
        Virtual Servers</a>
      </p>
    </div>
      <div class="col-lg-2">
      <p><a href="https://www.controlup.com/solutions/physical-pcs-and-servers/">
        Physical PC &amp; Servers</a>
      </p>
    </div>
  </div>
</div>
</section>
<section class="main">
  <div class="container">

<div class="col-lg-8 mx-auto text-center">


  <p class="lead">
    A primary goal of any Horizon View admin is to support a scalable virtual desktop platform without compromising end-user experience.
  </p>
  <p class="lead">
    By using ControlUp Horizon View admins can move from firefighting to actually managing, monitoring and proactively troubleshooting their VDI environment.
</p>
</div>
</div>
</section>
<section class="features">
<div class="container">
<div id="carouselExampleIndicators" class="carousel mob-no" data-interval="100000" data-ride="carousel">
<div class="row">
  <div class="col-md-12">
    <div class="carousel-indicators text-center">
      <div class="col-md-2 d-flex align-items-end">
        <p data-target="#carouselExampleIndicators" data-slide-to="0" class="inactive active">
          <img class="icon" src="../assets/img/trouble-icon@2x.png" /><br />Storage Performance Troubleshooting</p>
      </div>
      <div class="col-md-2 d-flex align-items-end">
        <p data-target="#carouselExampleIndicators" data-slide-to="1" class="inactive"><img class="icon" src="../assets/img/end-user-icon@2x.png" /><br />End-User<br />Experience</p>
      </div>
      <div class="col-md-2 d-flex align-items-end">
        <p data-target="#carouselExampleIndicators" data-slide-to="2" class="inactive">
          <img class="icon" src="../assets/img/mgmt-icon@2x.png" /><br />View<br />Management</p>
      </div>
      <div class="col-md-2 d-flex align-items-end">
        <p data-target="#carouselExampleIndicators" data-slide-to="3" class="inactive"><img class="icon" src="../assets/img/support-icon@2x.png" /><br />End-User<br />Support</p>
      </div>
      <div class="col-md-2 d-flex align-items-end">
        <p data-target="#carouselExampleIndicators" data-slide-to="4" class="inactive"><img class="icon" src="../assets/img/multi-icon@2x.png" /><br />Multi-Version<br />Management</p>
      </div>
      <div class="col-md-2 d-flex align-items-end">
        <p data-target="#carouselExampleIndicators" data-slide-to="5" class="inactive">
          <img class="icon" src="../assets/img/reporting-icon@2x.png" /><br />Historical<br />Reporting</p>
      </div>
    </div>
  </div>
</div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="row">
      <div class="col-md-6">
        <h2>
          Troubleshooting Storage Performance Issues
        </h2>
        <p>High IOPS usage on multiple Horizon View desktops or high Datastore latency can affect the performance of the entire VDI environment and cause poor user experience. Solutions like linked clones or flash-based storage solutions help reduce IOPS related issues but VDI environments are still susceptible to storage performance issues.
        </p>
        <p>By using ControlUp’s actionable dashboard, Horizon View admins quickly spot storage performance issues across multiple layers, from the physical hosts and Datastores all the way to specific user sessions and processes. Root cause detection is a breeze as all performance metrics are correlated in real-time.
        </p>
      </div>
      <div class="col-md-6 d-flex align-items-center text-center">
        <img class="img-fluid mx-auto troubleshooting" src="../assets/img/720x294-troubleshooting.png" srcset="../assets/img/720x294-troubleshooting@2x.png 2x" />
      </div>
    </div>
  </div>
    <div class="carousel-item">
      <div class="row">
      <div class="col-md-6">
        <h2>
          End-User Experience Monitoring
        </h2>
        <p>If your end-users have enough time to make a cup of coffee while logging on or launching an app something is amiss in the virtual network. It is imperative that end-users have an excellent experience, therefore Horizon View admins must resolve logon issues quickly and efficiently.
        </p>
        <p>With ControlUp the Horizon View team sees, in real-time, break downs within the logon process including User Profile, Group Policy and Desktop Load times. When end-user experience metrics cross set thresholds, the Horizon View admin is alerted, by email or push notification, and can easily analyze the glitch.
        </p>
      </div>
      <div class="col-md-6 text-center d-flex align-items-center">
        <img class="img-fluid mx-auto end-user" src="../assets/img/720x295-end-user.png" srcset="../assets/img/720x295-end-user@2x.png 2x" />
      </div>
    </div>
  </div>
    <div class="carousel-item">
      <div class="row">
      <div class="col-md-6">
        <h2>
          Simplify View Management
        </h2>
        <p>Both user and Horizon View admin time is valuable, therefore maintenance tasks need to be accomplished as quickly as possible. Sometimes, however, native management tools do not provide the functionality that the admin needs. For example, the Horizon View Admin GUI does not allow you to place multiple VMs in maintenance mode without disabling the entire pool.
        </p>
        <p>ControlUp’s <a href="https://www.controlup.com/edocs/controlup-online-documentation/controlup-console-reference/my-organization-pane/script-based-actions/">Script Based Actions</a> (SBAs) can help overcome native limitations in the View Admin site by using PowerCLI to target the exact machines that need to enter maintenance mode and then executing on that quickly in one management action instead of several.
        </p>
      </div>
      <div class="col-md-6 d-flex align-items-center text-center">
        <img class="img-fluid mx-auto mgmt" src="../assets/img/414x294-view-mgmt.png" srcset="../assets/img/414x294-view-mgmt@2x.png 2x" />
      </div>
    </div>
  </div>
    <div class="carousel-item">
      <div class="row">
      <div class="col-md-6">
        <h2>
          Supporting End-Users
        </h2>
        <p>Horizon View admins are continuously interacting with end-users throughout the day. There is just no way around it. Whether troubleshooting an app issue inside a user session or logging users off of a specific desktop pool in order to refresh the pool, dealing with end-users cannot be avoided.
        </p>
        <p>ControlUp offers basic user actions like ‘Logoff’ and ‘Send Message’ but steps it up with a rich array of contextual management actions that enable proactive troubleshooting of end-user related issues. One such management action is the ‘Kill Policy,’ which temporarily removes Group Policy restrictions that lockdown the user desktop, which enables a quick way to change settings and run commands inside a restricted user session.
        </p>
      </div>
      <div class="col-md-6 d-flex align-items-center text-center">
        <img class="img-fluid mx-auto support" src="../assets/img/647x294-support.png" srcset="../assets/img/647x294-support@2x.png 2x" />
      </div>
    </div>
  </div>
    <div class="carousel-item">
      <div class="row">
      <div class="col-md-6">
        <h2>
        Managing Multiple Horizon View Versions
        </h2>
        <p>Still running legacy apps on older OS versions? Maybe in the middle of a long migration project? These are just a few reasons Horizon View admins need to support multiple versions in their production environments. Unfortunately built-in consoles do not support multiple Horizon View versions and therefore create a management nightmare.
        </p>
        <p>Supporting Horizon View 5.x and 6.x, ControlUp’s all-inclusive dashboard provides a unified view of every virtual machine and user session. All major troubleshooting and management features enable a streamlined experience regardless of the Horizon View version being monitored.
        </p>
      </div>
      <div class="col-md-6 d-flex align-items-center text-center">
        <img class="img-fluid mx-auto" src="../assets/img/547x433-multi.png" srcset="../assets/img/547x433-multi@2x.png 2x" />
      </div>
    </div>
  </div>
    <div class="carousel-item">
      <div class="row">
      <div class="col-md-6">
        <h2>
        Historical Reporting
        </h2>
        <p>When an end-user reports s/he had a performance issue “last Tuesday”, it’s the VMware admin’s job to figure out which Horizon View server was used at the time in order to start the troubleshooting process. Other reasons a VMware admin needs historical user session reports include usage trend analysis, license consumption, login tracking for security purposes and application usage analysis.
        </p>
        <p><a href="http://www.controlup.com/products/controlup-insights">ControlUp Insights</a> enables customers to save unlimited performance and usage data and offer a plethora of handy reports including user activity, user experience, application activity, resource consumption (hosts, servers, and even processes data) system health and licensing reports.
        </p>
      </div>
      <div class="col-md-6 d-flex align-items-center text-center">
        <img class="img-fluid mx-auto" src="../assets/img/720x374-reporting.png" srcset="../assets/img/720x374-reporting@2x.png 2x" />
      </div>
    </div>
  </div>
  </div>
</div>
<div class="col-sm-12 mob-yes">

    <div class="row">
    <div class="col-md-6">
      <h2>
        Troubleshooting Storage Performance Issues
      </h2>
      <p>High IOPS usage on multiple Horizon View desktops or high Datastore latency can affect the performance of the entire VDI environment and cause poor user experience. Solutions like linked clones or flash-based storage solutions help reduce IOPS related issues but VDI environments are still susceptible to storage performance issues.
      </p>
      <p>By using ControlUp’s actionable dashboard, Horizon View admins quickly spot storage performance issues across multiple layers, from the physical hosts and Datastores all the way to specific user sessions and processes. Root cause detection is a breeze as all performance metrics are correlated in real-time.
      </p>
    </div>
    <div class="col-md-6 d-flex align-items-center text-center">
      <img class="img-fluid mx-auto troubleshooting" src="../assets/img/720x294-troubleshooting.png" srcset="../assets/img/720x294-troubleshooting@2x.png 2x" />
    </div>
  </div>

    <div class="row">
    <div class="col-md-6">
      <h2>
        End-User Experience Monitoring
      </h2>
      <p>If your end-users have enough time to make a cup of coffee while logging on or launching an app something is amiss in the virtual network. It is imperative that end-users have an excellent experience, therefore Horizon View admins must resolve logon issues quickly and efficiently.
      </p>
      <p>With ControlUp the Horizon View team sees, in real-time, break downs within the logon process including User Profile, Group Policy and Desktop Load times. When end-user experience metrics cross set thresholds, the Horizon View admin is alerted, by email or push notification, and can easily analyze the glitch.
      </p>
    </div>
    <div class="col-md-6 text-center d-flex align-items-center">
      <img class="img-fluid mx-auto end-user" src="../assets/img/720x295-end-user.png" srcset="../assets/img/720x295-end-user@2x.png 2x" />
    </div>
  </div>

    <div class="row">
    <div class="col-md-6">
      <h2>
        Simplify View Management
      </h2>
      <p>Both user and Horizon View admin time is valuable, therefore maintenance tasks need to be accomplished as quickly as possible. Sometimes, however, native management tools do not provide the functionality that the admin needs. For example, the Horizon View Admin GUI does not allow you to place multiple VMs in maintenance mode without disabling the entire pool.
      </p>
      <p>ControlUp’s <a href="https://www.controlup.com/edocs/controlup-online-documentation/controlup-console-reference/my-organization-pane/script-based-actions/">Script Based Actions</a> (SBAs) can help overcome native limitations in the View Admin site by using PowerCLI to target the exact machines that need to enter maintenance mode and then executing on that quickly in one management action instead of several.
      </p>
    </div>
    <div class="col-md-6 d-flex align-items-center text-center">
      <img class="img-fluid mx-auto mgmt" src="../assets/img/414x294-view-mgmt.png" srcset="../assets/img/414x294-view-mgmt@2x.png 2x" />
    </div>
  </div>

    <div class="row">
    <div class="col-md-6">
      <h2>
        Supporting End-Users
      </h2>
      <p>Horizon View admins are continuously interacting with end-users throughout the day. There is just no way around it. Whether troubleshooting an app issue inside a user session or logging users off of a specific desktop pool in order to refresh the pool, dealing with end-users cannot be avoided.
      </p>
      <p>ControlUp offers basic user actions like ‘Logoff’ and ‘Send Message’ but steps it up with a rich array of contextual management actions that enable proactive troubleshooting of end-user related issues. One such management action is the ‘Kill Policy,’ which temporarily removes Group Policy restrictions that lockdown the user desktop, which enables a quick way to change settings and run commands inside a restricted user session.
      </p>
    </div>
    <div class="col-md-6 d-flex align-items-center text-center">
      <img class="img-fluid mx-auto support" src="../assets/img/647x294-support.png" srcset="../assets/img/647x294-support@2x.png 2x" />
    </div>
  </div>

    <div class="row">
    <div class="col-md-6">
      <h2>
      Managing Multiple Horizon View Versions
      </h2>
      <p>Still running legacy apps on older OS versions? Maybe in the middle of a long migration project? These are just a few reasons Horizon View admins need to support multiple versions in their production environments. Unfortunately built-in consoles do not support multiple Horizon View versions and therefore create a management nightmare.
      </p>
      <p>Supporting Horizon View 5.x and 6.x, ControlUp’s all-inclusive dashboard provides a unified view of every virtual machine and user session. All major troubleshooting and management features enable a streamlined experience regardless of the Horizon View version being monitored.
      </p>
    </div>
    <div class="col-md-6 d-flex align-items-center text-center">
      <img class="img-fluid mx-auto multi" src="../assets/img/547x433-multi.png" srcset="../assets/img/547x433-multi@2x.png 2x" />
    </div>
  </div>

    <div class="row">
    <div class="col-md-6">
      <h2>
      Historical Reporting
      </h2>
      <p>When an end-user reports s/he had a performance issue “last Tuesday”, it’s the VMware admin’s job to figure out which Horizon View server was used at the time in order to start the troubleshooting process. Other reasons a VMware admin needs historical user session reports include usage trend analysis, license consumption, login tracking for security purposes and application usage analysis.
      </p>
      <p><a href="http://www.controlup.com/products/controlup-insights">ControlUp Insights</a> enables customers to save unlimited performance and usage data and offer a plethora of handy reports including user activity, user experience, application activity, resource consumption (hosts, servers, and even processes data) system health and licensing reports.
      </p>
    </div>
    <div class="col-md-6 d-flex align-items-center text-center">
      <img class="img-fluid mx-auto reporting" src="../assets/img/720x374-reporting.png" srcset="../assets/img/720x374-reporting@2x.png 2x" />
    </div>
  </div>

</div>
</div>
</div>
</section>
<section class="customers">
  <div class="container">
  <div class="col-lg-8 text-center mx-auto">
    <h3>ControlUp is Trusted By</h3>
  </div>
      <div class="col-lg-8 mx-auto">
        <img class="img-fluid mx-auto" src="../assets/img/banner-logos.svg" />
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
<div class="col-lg-8 mx-auto text-center">
<h2>Request a Demo Today</h2>
      <p>
        Sign up below to schedule a demo with one of our product experts, we’ll take it from there.
      </p>
      <p class="hidden-form"><button class="btn col-md-4" data-toggle="modal" data-target="#form2">Request A Demo</button></p>
    </div>
  </div>
  </div>
</section>


<!-- Modal -->
<div class="modal fade" id="form1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Request A Demo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">First Name</label>
            <input type="text" class="form-control" id="exampleInputName" placeholder="Enter name">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Last Name</label>
            <input type="text" class="form-control" id="exampleInputName" placeholder="Enter name">
          </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Company</label>
    <input type="text" class="form-control" id="exampleInputCompany" placeholder="Enter company">
  </div>

  <button type="submit" class="btn col-md-12 mt-3">Request A Demo</button>
</form>
      </div>

    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="form2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Request A Demo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" onclick="hiddenForm()">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">First Name</label>
            <input type="text" class="form-control" id="exampleInputName" placeholder="Enter name">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Last Name</label>
            <input type="text" class="form-control" id="exampleInputName" placeholder="Enter name">
          </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Company</label>
    <input type="text" class="form-control" id="exampleInputCompany" placeholder="Enter company">
  </div>

  <button type="submit" class="btn col-md-12 mt-3">Request A Demo</button>
</form>
      </div>

    </div>
  </div>
</div>

<script>
function hiddenForm() {
    $( ".hidden-form" ).replaceWith( '<div class="col-md-8 mx-auto" style="text-align:left;"><form><div class="form-group"><label for="exampleInputEmail1">First Name</label><input type="text" class="form-control" id="exampleInputName" placeholder="Enter name"></div><div class="form-group"><label for="exampleInputEmail1">Last Name</label><input type="text" class="form-control" id="exampleInputName" placeholder="Enter name"></div><div class="form-group"><label for="exampleInputEmail1">Email address</label><input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email"></div><div class="form-group"><label for="exampleInputEmail1">Company</label><input type="text" class="form-control" id="exampleInputCompany" placeholder="Enter company"></div><button type="submit" class="btn col-md-12 mt-3">Request A Demo</button></form></div>');}
</script>

<script>
$(document).ready(function() {

					//Enable swiping...
					$(".carousel-inner").swipe( {
						//Generic swipe handler for all directions
						swipeLeft:function(event, direction, distance, duration, fingerCount) {
							$(this).parent().carousel('prev');
						},
						swipeRight: function() {
							$(this).parent().carousel('next');
						},
						//Default is 75px, set to 0 for demo so any distance triggers swipe
						threshold:100
					});
				});
</script>

<script>
function video1() {
    $( ".img-1" ).replaceWith( '<iframe class="video" id="video" width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLK1Jl-2gLonP9o3-IlBTVZIDIIIS1vjv8" frameborder="0" allowscriptaccess="always" allow="autoplay; encrypted-media" allowfullscreen></iframe>');}
</script>

<script>
function video2() {
    $( ".img-2" ).replaceWith( '<iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLK1Jl-2gLonOld9ZQm_mGZUNIJyxlZrb3" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>');}
</script>

<script>
function video3() {
    $( ".img-3" ).replaceWith( '<iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/1hA8UQ9twSc?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>');}
</script>

<script language="javascript" type="text/javascript">
$(function(){
    $('.close').click(function(){
        $('iframe').attr('src', $('iframe').attr('src'));
    });
});
</script>









{% include footer.html %}
