

<footer>
  <div class="container-fluid">
    <img class="img-fluid mob-no" src="../assets/img/1440x454-footer.jpg" srcset="../assets/img/1440x454-footer@2x.jpg 2x" />
    <img class="img-fluid mob-yes" src="../assets/img/369x552-footer-mobileaa.jpg" srcset="../assets/img/369x552-footer-mobileaa@2x.jpg 2x" />
  </div>


</footer>






<script src="{{ site.url }}/assets/js/index.js"></script>

<script src="{{ site.url }}/assets/js/wow.js"></script>
<script>
  new WOW().init();
</script>

</body>
</html>
