// Typography

body, button, form, input {
font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: $black;
  font-size: 16px;

}

h1 {
  color: $white;
  font-weight: 500;
  margin-bottom: 40px;

}

.display-3 {
  font-weight: 500;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: $blue;

}

h3 {
  font-family: 'Open Sans', sans-serif;
  color: $grey-light;
  font-weight: 700;
  padding-bottom: 40px;
  font-size: 24px;

@media (max-width: $desktop) {
text-align:left;
}
}


label {
  font-weight: 500;
}





p {
  color:$black;
  margin-bottom: 40px;
  font-weight: 300;

&:last-child { margin-bottom: 0;
}
}

.lead {
  font-weight: 500;
  font-size: 18px;
}

.p-bold {
  font-weight: 600;
}
